statemachine/case-checker-workflow.asl.json
{
  "Comment": "Independent case checking workflow for compliance validation",
  "StartAt": "UpdateStatusProcessing",
  "States": {
    "UpdateStatusProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateStatusFunctionArn}",
        "Payload": {
          "meetingId.$": "$.meetingId",
          "status": "PROCESSING",
          "force.$": "$.forceReprocess",
          "workflowType": "case_check",
          "metadata": {}
        }
      },
      "ResultPath": null,
      "Next": "CheckTranscriptSource"
    },
    "CheckTranscriptSource": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.redactedTranscriptKey",
          "IsPresent": true,
          "Next": "NormalizeDirectInput"
        }
      ],
      "Default": "FetchTranscript"
    },
    "NormalizeDirectInput": {
      "Type": "Pass",
      "Comment": "Normalize direct redactedTranscriptKey input to match pipeline structure",
      "Parameters": {
        "meetingId.$": "$.meetingId",
        "coachName.$": "$.coachName",
        "forceReprocess.$": "$.forceReprocess",
        "piiResult": {
          "redactedTranscriptKey.$": "$.redactedTranscriptKey",
          "piiEntityCount": 0
        },
        "metricsResult": {
          "callMetrics": null,
          "metricsKey": "skipped"
        }
      },
      "Next": "PerformCaseCheck"
    },
    "FetchTranscript": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FetchTranscriptFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.fetchResult",
      "ResultSelector": {
        "transcriptKey.$": "$.Payload.transcriptKey",
        "source.$": "$.Payload.source"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleFailure"
        }
      ],
      "Next": "NormaliseRoles"
    },
    "NormaliseRoles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NormaliseRolesFunctionArn}",
        "Payload": {
          "transcriptKey.$": "$.fetchResult.transcriptKey",
          "meetingId.$": "$.meetingId",
          "coachName.$": "$.coachName",
          "source.$": "$.fetchResult.source"
        }
      },
      "ResultPath": "$.fetchResult",
      "ResultSelector": {
        "transcriptKey.$": "$.Payload.transcriptKey",
        "source.$": "$.Payload.source"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Next": "ExtractMetrics"
    },
    "ExtractMetrics": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ExtractMetricsFunctionArn}",
        "Payload": {
          "transcriptKey.$": "$.fetchResult.transcriptKey",
          "meetingId.$": "$.meetingId",
          "coachName.$": "$.coachName",
          "source.$": "$.fetchResult.source",
          "forceReprocess.$": "$$.Execution.Input.forceReprocess"
        }
      },
      "ResultPath": "$.metricsResult",
      "ResultSelector": {
        "callMetrics.$": "$.Payload.callMetrics",
        "metricsKey.$": "$.Payload.metricsKey"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.metricsError",
          "Next": "PIIDetectRedact"
        }
      ],
      "Next": "PIIDetectRedact"
    },
    "PIIDetectRedact": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PIIDetectRedactFunctionArn}",
        "Payload": {
          "transcriptKey.$": "$.fetchResult.transcriptKey",
          "meetingId.$": "$.meetingId",
          "source.$": "$.fetchResult.source",
          "forceReprocess.$": "$$.Execution.Input.forceReprocess"
        }
      },
      "ResultPath": "$.piiResult",
      "ResultSelector": {
        "redactedTranscriptKey.$": "$.Payload.redactedTranscriptKey",
        "piiEntityCount.$": "$.Payload.piiEntityCount"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "PerformCaseCheck"
    },
    "PerformCaseCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CaseCheckFunctionArn}",
        "Payload": {
          "redactedTranscriptKey.$": "$.piiResult.redactedTranscriptKey",
          "meetingId.$": "$.meetingId",
          "forceReprocess.$": "$$.Execution.Input.forceReprocess",
          "callMetrics.$": "$.metricsResult.callMetrics"
        }
      },
      "ResultPath": "$.caseCheckResult",
      "ResultSelector": {
        "caseKey.$": "$.Payload.caseKey",
        "passRate.$": "$.Payload.passRate",
        "hasVulnerability.$": "$.Payload.hasVulnerability"
      },
      "Retry": [
        {
          "ErrorEquals": ["ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleFailure"
        }
      ],
      "Next": "CheckVulnerability"
    },
    "CheckVulnerability": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.caseCheckResult.hasVulnerability",
          "BooleanEquals": true,
          "Next": "AssessVulnerability"
        }
      ],
      "Default": "A2IGateDecision"
    },
    "AssessVulnerability": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${AssessVulnerabilityFunctionArn}",
        "Payload": {
          "redactedTranscriptKey.$": "$.piiResult.redactedTranscriptKey",
          "meetingId.$": "$.meetingId"
        }
      },
      "ResultPath": "$.vulnerabilityResult",
      "ResultSelector": {
        "vulnerabilityRating.$": "$.Payload.vulnerabilityRating"
      },
      "Retry": [
        {
          "ErrorEquals": ["ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.vulnerabilityError",
          "Next": "A2IGateDecision"
        }
      ],
      "Next": "A2IGateDecision"
    },
    "A2IGateDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.caseCheckResult.passRate",
          "NumericLessThan": 0.5,
          "Next": "StartA2IReview"
        }
      ],
      "Default": "EmitCompletionEvents"
    },
    "StartA2IReview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${A2IReviewFunctionArn}",
        "Payload": {
          "meetingId.$": "$.meetingId",
          "caseCheckKey.$": "$.caseCheckResult.caseKey",
          "redactedTranscriptKey.$": "$.piiResult.redactedTranscriptKey"
        }
      },
      "ResultPath": "$.a2iResult",
      "ResultSelector": {
        "humanLoopName.$": "$.Payload.humanLoopName",
        "status.$": "$.Payload.status"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.a2iError",
          "Next": "EmitCompletionEvents"
        }
      ],
      "Next": "EmitReviewEvents"
    },
    "EmitReviewEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "call-summariser",
            "DetailType": "CaseCheck.InReview",
            "Detail": {
              "meetingId.$": "$.meetingId",
              "humanLoopName.$": "$.a2iResult.humanLoopName",
              "passRate.$": "$.caseCheckResult.passRate",
              "timestamp.$": "$$.State.EnteredTime"
            },
            "EventBusName": "${EventBusName}"
          }
        ]
      },
      "ResultPath": null,
      "Next": "UpdateStatusInReview"
    },
    "UpdateStatusInReview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateStatusFunctionArn}",
        "Payload": {
          "meetingId.$": "$.meetingId",
          "status": "IN_REVIEW",
          "workflowType": "case_check",
          "metadata": {
            "a2iCaseLoop.$": "$.a2iResult.humanLoopName",
            "caseCheckKey.$": "$.caseCheckResult.caseKey",
            "casePassRate.$": "$.caseCheckResult.passRate"
          }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "EmitCompletionEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "call-summariser",
            "DetailType": "CaseCheck.Completed",
            "Detail": {
              "meetingId.$": "$.meetingId",
              "passRate.$": "$.caseCheckResult.passRate",
              "caseKey.$": "$.caseCheckResult.caseKey",
              "timestamp.$": "$$.State.EnteredTime"
            },
            "EventBusName": "${EventBusName}"
          }
        ]
      },
      "ResultPath": null,
      "Next": "CheckCaseFlagged"
    },
    "CheckCaseFlagged": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.caseCheckResult.passRate",
          "NumericLessThan": 0.7,
          "Next": "EmitCaseFlaggedEvent"
        }
      ],
      "Default": "UpdateStatusCompleted"
    },
    "EmitCaseFlaggedEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "call-summariser",
            "DetailType": "CaseCheck.Flagged",
            "Detail": {
              "meetingId.$": "$.meetingId",
              "passRate.$": "$.caseCheckResult.passRate",
              "caseKey.$": "$.caseCheckResult.caseKey",
              "timestamp.$": "$$.State.EnteredTime"
            },
            "EventBusName": "${EventBusName}"
          }
        ]
      },
      "ResultPath": null,
      "Next": "UpdateStatusCompleted"
    },
    "UpdateStatusCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateStatusFunctionArn}",
        "Payload": {
          "meetingId.$": "$.meetingId",
          "status": "COMPLETED",
          "workflowType": "case_check",
          "metadata": {
            "caseCheckKey.$": "$.caseCheckResult.caseKey",
            "casePassRate.$": "$.caseCheckResult.passRate"
          }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "HandleFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateStatusFunctionArn}",
        "Payload": {
          "meetingId.$": "$.meetingId",
          "status": "FAILED",
          "workflowType": "case_check",
          "metadata": {
            "error.$": "$.error.Cause"
          }
        }
      },
      "ResultPath": null,
      "Next": "FailState"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "CaseCheckWorkflowFailed",
      "Cause": "The case checker workflow failed. Check CloudWatch logs for details."
    }
  }
}
